.dialogs {
   display: flex;
}

.dialogsItem {
   flex: 0 1 20%;
   padding: 10px;
}

.dialogsItem a {
   text-decoration: none;
   color: rgb(1, 177, 1);
}

.dialogsItem a.active {
   color: rgb(251, 0, 0);
}

.dialogsItem .dialog {

}

.messages {
   flex: 0 1 80%;
   padding: 10px;
}

.messages .message {

}

.message {

}