.dialogs {
   display: flex;
}

.dialogsItem {
   flex: 0 1 20%;
   padding: 10px;
}

.dialogsItem a {
   text-decoration: none;
   color: honeydew;
}

.dialogsItem .active {
   color: gold;
}

.dialogsItem .dialog {

}

.messages {
   flex: 0 1 80%;
   padding: 10px;
}

.messages .message {

}

.message {

}